/* Fonts */
.reveal section .creepster{
  font-family: 'Creepster', sans-serif;
  color: red;
}
/* Other */
.reveal section img {
  border: none;
  background: none;
}
.reveal section .low-height{
  height: 45px;
  line-height: 45px;
}
.reveal section .spaced-list li{
  line-height: 250%;
}
.reveal section .bigger-text{
  font-size: 40px;
}
.reveal section .big-text{
  font-size: 36px;
}
.reveal section .text-right{
  text-align: right;
}
.reveal section .gray-text{
  color: #abacad;
}
.reveal section .inline-icon{
  display: inline-block;
  vertical-align: middle;
}
.reveal section .sub-icon{
  display: inline-block;
  vertical-align: sub;
}
.reveal section .yellow-text{
  color: #efef8f;
}
.reveal section textarea.live-example{
  width: 100%;
  font-size: 25px;
}
.reveal section #handlebars-live-example input{
  height: 40px;
  width: 320px;
  font-size: 25px;
}
.reveal pre.no-margin{
  margin: 0;
  width: 100%;
}
.reveal pre code.no-limits {
  max-height: 800px;
}
.reveal blockquote.wide-quote{
  width: 90%;
}
.reveal .flex-container{
  display: flex;
}
.reveal .flex-1{
  flex: 1;
}
.reveal .yellow-bg{
  background-color: yellow;
  color: #333;
}
.reveal .green-bg{
  background-color: green;
  color: white;
}

.reveal .blue-bg{
  background-color: blue;
  color: white;
}
.display-flex{ display: flex; }
.reveal .vertical-layer{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.reveal .vertical-layer .diagram-entity{
  flex: 1;
  background-color: red;
}
.vertical-layer .vertical-text{
  -webkit-transform: rotate(-90deg) translateX(-190px);
  transform: rotate(-90deg) translateX(-190px);
}
.reveal .horizontal-layers{
  flex: 8;
}
.reveal .diagram-entity{
  margin: 10px;
  padding: 25px;
}
.reveal .kudos-container{
  border: 3px solid lightgray;
  background-color: white;
  border-radius: 15px;
  width: 180px;
  height: 50px;
  padding: 50px;
  margin: 0 auto;
  position: relative;
}

.reveal p.small-paragraph{
  font-size: 22px;
}
.reveal .display-inline-block{
  display: inline-block;
}